body {
    background-image: linear-gradient(to bottom, thistle, coral);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.container{
    display: grid;
    justify-content: center;
    height: 750px;
    width: 750px;
    margin-bottom: 50px;
    border: brown 1px solid;
}

.grid{
    background-color: beige;
    text-align: center;
    border: brown 1px solid;
}

.buttons{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 50px;
}
button{
    font-size: 30px;
    color:darkred;
    font-family: Helvetica;
    padding: 5px;
    border:rgb(152, 100, 237) 2px groove;
    border-width: 3px;
    border-radius: 8px;
}

#header{
    display: inline-block;
    font-size: 80px;
    color: beige;
    font-family: cursive;
    background-color: rgb(152, 100, 237);
    border-radius: 15px;
    padding: 20px;
    border: brown 5px groove;
}
